.columns
  .column.is-8.is-centered
    = simple_form_for @information, html: { multipart: true } do |f|
      = f.error_notification
      .columns
        .field.column.is-9
          .control
            = f.input :title , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label"}, label: "Title(year,college,class)"
      .field
        .control
          = f.input :description, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class:"label" }
      .columns
        .field.column.is-4
          .control
            label.label
              | Condition
            .control.has-icons-left
              span.select
                = f.input_field :condition, collection: Information::CONDITION, prompt: "Select condition"
              span.icon.is-small.is-left
                i.fa.fa-paint-brush
      .field
        .control
          label.label
            | Add images(パソコンだとcommandを押しながら選択すると複数指定できます）
          .file
            label.file-label
              - #= f.input :image, as: :file, input_html: { class:"file-input instrument-image" }, label: false, wrapper: false, :multiple => true
              - #= f.input :image, as: :file, input_html: { class:"file-input instrument-image" }, label: false, wrapper: false, :multiple => true
              = f.file_field :image, multiple: true
            #result
      output#list
      hr
      .field.is-grouped
        .control
          = f.button :submit, class: 'button is-warning'
          = link_to 'Cancel', information_index_path, class:'button is-light'
