- content_for :header do
  section.hero.is-warning
    .hero-body
      .container
        h1.title
          |  Browse the latest test information
        = form_tag :search_information_index, method: :get, class: "search" do
          = text_field_tag "q", params[:q]
          = submit_tag "検索"

.instrument-index-grid.pt4
  - if @informations.present?
    - @informations.each do |information|
      .instrument.border-light
        .instrument-thumb
          - if information.image.present?
            .feature-image
              = link_to image_tag(information.image.first.url(:thumb)), information
          - if information.condition?
            .condition
              span.tag.is-dark
                = information.condition
        .pa3
          h3.fw7.f4.title
            = link_to information.title, information, class: "bg-gradient-dark"

          p.has-text-gray.fg.pt1
            | Post by
            = information.user.name
          / - if user_signed_in? && current_user == @user || information_author(information)
            = link_to 'Edit', edit_information_path(information), class: "button is-small"
            = link_to 'Delete', information, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small"
