- content_for :body_class, 'bg-light'
section.section.instrument-show
  .columns
    .column.is-8
      h1.title.is-2
        = @information.title
      ul.pv1
        - if @information.condition?
          li.inline-block.pr3
            = @information.condition
      - if @information.image.present?
        .feature-image
          - @information.image.each do |image|
            = image_tag(image.url)
      .content.pa4.mt3.bg-white.border-radius-3
        h3.subtitle.is-4
          | Description
        = @information.description
        h3.subtitle.is-4.pt5
          | Product Specs
        table.table.is-narrow
          - if @information.condition
            tr
              td.has-text-weight-bold
                | Condition:
              td
                = @information.condition
    .column.is-3.is-offset-1
      .bg-white.pa4.border-radius-3
        p.has-text-centered.mb4
          | Post by
          = @information.user.name
          = button_to 'Add to List', line_items_path(information_id: @information), class: 'button is-warning add-to-cart'
      .reviews
        h1
          | Send thanks
        = render @information.reviews
        div
          = link_to "Say thank you", new_information_review_path(@information), class: "btn-custom"
  - if information_author(@information)
    = link_to 'Edit', edit_information_path(@information), class: 'button'
