<div class="review">
	<p class="review-comment"><%= review.comment %></p>
	<%if user_signed_in? %>
	  <% if review.user_id == current_user.id %>
			<div class="links btn-group">
				<%= link_to "Edit", edit_information_review_path(review.information, review), class: "btn btn-custom" %>
				<%= link_to "Delete", information_review_path(review.information, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>
			</div>
		<% end %>
	<% end %>
</div>	